
@font-face {
  font-family: myriad-pro;
  src: url('../fonts/myriad-pro-200-normal.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: myriad-pro;
  src: url('../fonts/myriad-pro-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: myriad-pro;
  src: url('../fonts/myriad-pro-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: myriad-pro;
  src: url('../fonts/myriad-pro-400-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: anz-icons;
  src: url('../fonts/anz-icons-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
